{% extends 'layout.twig' %}
{% block styles %}
	<link rel="stylesheet" href="./lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="./lib/sweetalert/dist/sweetalert.css">
	<link rel="stylesheet" href="./app/semestre/style.css">
{% endblock %}
{% block content %}
	<form id="form-js" class="form-default">
		<h3>{{ titulo }}</h3>
		<hr>
		{% if id is defined %}
			<input type="hidden" name="id" value="{{ id }}" id="id-semestre"/>
		{% endif %}

		<div class="form-group">
			<label for="ano">Nome</label>
			<input type="text" class="form-control " id="nome" value="{{ values.nome }}" required="required">
			<span class="help-block"></span>
		</div>
		<div class="form-group">
			<label for="Campus">Campus</label>
			<select class="form-control" id="campus" required="required">
				{% for campus in values.campus %}
					{% if id is defined and values.campusid == campus.id %}
						<option value="{{campus.id}}" selected="selected">{{campus.nome}}</option>
					{% else %}
						<option value="{{campus.id}}">{{campus.nome}}</option>
					{% endif %}
				{% endfor %}
			</select>
			<span class="help-block"></span>
		</div>
		<div class="form-group">
			<label for="dataInicio">Data Inicial</label>
			<input type="text" class="form-control datepicker" id="dataInicio" value="{{ values.datainicio }}"  required="required">
			<span class="help-block"></span>
		</div>
		<div class="form-group">
			<label for="dataFim">Data Final</label>
			<input type="text" class="form-control datepicker" id="dataFim" value="{{ values.datafim }}"  required="required">
			<span class="help-block"></span>
		</div>
		<div id="container-etapas-js" class="form-group content-etapas">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="#tcc1">TCC1</a>
				</li>
				<li>
					<a data-toggle="tab" href="#tcc2">TCC2</a>
				</li>
			</ul>
			<div>
				<div class="tab-content clearfix">
					<div class="tab-pane active" id="tcc1">
						<table class="table table-hover">
							<thead data-tcc="1">
								<tr>
									<th>
										<h4 class="title-header-tabs">Número de etapas</h4>
										<button type="button" name="adicionar etapas" class="btn-header-tabs pull-right btn-cadastrar-etapa">
											<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
										</button>
									</th>
								</tr>
							</thead>
							<tbody id="etapa-tcc1-js" class="lista-etapa-js">
								{% for etapa in values.etapa_tcc1 %}
									<tr data-id="{{ etapa.id }}">
										<td>
											<span class="name-etapa">{{ etapa.nome }}</span>
											<button type="button" name="excluir etapa" class="btn-header-tabs btn-excluir-etapa pull-right">
												<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
											</button>
											<button type="button" name="editar etapa" class="btn-header-tabs btn-cadastrar-etapa pull-right">
												<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
											</button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane" id="tcc2">
						<table class="table table-hover">
							<thead data-tcc="2">
								<tr>
									<th>
										<h4 class="title-header-tabs">Número de etapas</h4>
										<button type="button" name="adicionar etapas" class="btn-header-tabs pull-right btn-cadastrar-etapa">
											<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
										</button>
									</th>
								</tr>
							</thead>
							<tbody id="etapa-tcc2-js" class="lista-etapa-js">
								{% for etapa in values.etapa_tcc2 %}
									<tr data-id="{{ etapa.id }}">
										<td>
											<span class="name-etapa">{{ etapa.nome }}</span>
											<button type="button" name="excluir etapas" class="btn-header-tabs btn-excluir-etapa pull-right">
												<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
											</button>
											<button type="button" name="editar etapas" class="btn-header-tabs btn-cadastrar-etapa pull-right">
												<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
											</button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-3">
				<button id="btn-cadastrar-semestre" type="submit" name="Cadastrar Semestre" class="btn btn-primary btn-lg pull-right ">Salvar e continuar</button>
			</div>
			<div class="col-xs-2">
				<a href="./semestre/" class="btn btn-default btn-lg btn-block">Cancelar</a>
			</div>
		</div>
	</form>
	<!-- Final do form -->
	<!-- Modal etapa -->
	<button style="display:none;" id="btn-open-etapa" data-toggle="modal" data-target="#addEtapa"></button>
	<div class="modal fade" id="addEtapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Cadastrar Etapa</h4>
				</div>
				<div class="modal-body">
					<form id="etapa-js">
						<input type="hidden" name="tcc" id="add-tcc" class="clean"/>
						<input type="hidden" name="id" id="id-etapa" class="clean"/>
						<div class="form-group">
							<label for="Campus">Nome</label>
							<input type="text" class="form-control clean" id="etapa-nome">
							<span class="help-block"></span>
						</div>
						<div class="form-group">
							<label for="tipo">Tipo</label>
							<select class="form-control" id="etapa-tipo">
								{% if values.tipos is defined  %}
									{% for tipo in values.tipos %}
										<option value="{{tipo.id}}">{{tipo.nome}}</option>
									{% endfor %}
								{% endif %}
							</select>
							<span class="help-block"></span>
						</div>
						<div class="form-group">
							<label for="peso">Peso</label>
							<input type="number" class="form-control clean" id="etapa-peso">
							<span class="help-block"></span>
						</div>
						<div class="form-group">
							<label for="ano">Data Abertura</label>
							<input type="text" class="form-control datepicker clean" id="etapa-dataInicio">
							<span class="help-block"></span>
						</div>
						<div class="form-group">
							<label for="ano">Data Limite</label>
							<input type="text" class="form-control datepicker clean" id="etapa-dataFim">
							<span class="help-block"></span>
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button id="btn-salvar-etapa-js" type="button" class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="./lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="./lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
	<script src="./lib/sweetalert/dist/sweetalert.min.js"></script>
	<script src="./lib/moment/min/moment.min.js"></script>
	<script src="./app/semestre/index.js"></script>
{% endblock %}
