{% extends 'layout.twig' %}
{% block styles %}
  <link rel="stylesheet" href="./app/semestre/listar.css">
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h3>{{ titulo }}</h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<a href="./semestre/cadastrar" class="btn btn-success btn-semestre-cadastrar"><span class="glyphicon glyphicon-plus"></span> Cadastrar semestre</a>
		</div>
	</div>

	<table class="table">
	</div>
        <thead>
            <tr>
			   <th>Nome</th>
               <th>Campus</th>
               <th>Data Inicial</th>
			   <th>Data Final</th>
            </tr>
        </thead>
        <tbody id="lista-js">
            {% for semestre in semestres %}
            <tr>
                <td>{{ semestre.getNome() }}</td>
                <td>{{ semestre.getCampus().getNome() }}</td>
                <td>{{ semestre.getDataInicio().format('d/m/Y') }}</td>
				<td>{{ semestre.getDataFim().format('d/m/Y') }}</td>
                <td>
					<div class="pull-right">
						<a href="./semestre/editar/{{ semestre.getId() }}" class="btn btn-primary">
							<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
							<span class="hidden-xs">Editar</span>
						</a>

						<button data-id="{{ semestre.getId() }}" class="btn-excluir-js btn btn-danger">
							<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
							<span class="hidden-xs">Excluir</span>
						</button>
					</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block scripts %}
<script src="./app/semestre/listar.js"></script>
{% endblock %}
