{% extends 'layout.twig' %}
{% block content %}
    <h3>{{ titulo }}</h3>
    <form id="form-js">
        {% if id is defined %}
        <input type="hidden" name="id" value="{{ id }}" id="id" />
        {% endif %}
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="nome" value="{{ values.nome }}">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" name="email" id="email" value="{{ values.email }}">
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label" for="telefone">Telefone <small>(com DDD)</small></label>
                    <input type="text" class="form-control mask-phone-js" name="telefone" id="telefone" value="{{ values.telefone }}">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <strong class="control-label">Sexo</strong>
                    <div class="checkbox">
                        <label for="">
                            <input type="radio" name="sexo" value="1" id="sexom" {{ values.sexo == 1 ? 'checked' : '' }}> <strong>M</strong>
                        </label>
                        <label>
                            <input type="radio" name="sexo" value="0" id="sexof" {{ values.sexo == 0 ? 'checked' : '' }}> <strong>F</strong>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div clas="row">
        	<div class="col-xs-12">
                <div class="form-group">
                    <h4 id="interesses">Áreas de interesse:</h4>
                    <span class="help-block"></span>
                </div>
        	</div>
        </div>
        <div class="row">
			<div class="col-xs-4">
            {% for area in areas %}
                {% set checked = ' ' %}
                {% if id is defined %}
                    {% for x in values.interesses %}
                        {% if x.getId() == area.getId() %}
                            {% set checked = 'checked' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
				<div class="form-group">
                    <label class="control-label">
                    <input type="checkbox" value="{{ area.getId() }}" {{checked}}> {{ area.getTitulo() }}</label>
                </div>
            {% endfor %}
			</div>
        </div>
        <hr>
        <div class="row">
        	<div class="col-xs-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
        	</div>
            <div class="col-xs-2">
                <a href="./professor/" class="btn btn-default btn-lg btn-block">Cancelar</a>
            </div>
        </div>

    </form>
{% endblock %}
{% block scripts %}
<script src="./app/shared/jquery-mask-plugin.js"></script>
<script src="./app/shared/mascaras-padrao.js"></script>
<script src="./app/professor/formulario.js"></script>
{% endblock %}
