{% extends 'layout.twig' %}
{% block styles %}
  <link rel="stylesheet" href="./app/professor/listar.css">
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h3>{{ titulo }}</h3>
		</div>		
		<div class="col-sm-6 col-xs-12">
			<a href="./professor/cadastrar" class="btn btn-success btn-professor-cadastrar"><span class="glyphicon glyphicon-plus"></span> Cadastrar Professor</a>
		</div>
	</div>
	
	<table class="table">
	</div>
        <thead>
            <tr>
              <th width="170px">Nome</th>
              <th>E-mail</th>
              <th>Telefone</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
        </thead>
        <tbody id="lista-js">
            {% for professor in professores %}
            <tr>
                <td>{{ professor.getPessoa().getNome() }}</td>
                <td>{{ professor.getPessoa().getEmail() }}</td>
                <td>{{ professor.getPessoa().getTelefone() }}</td>
                <td>
                    <a href="/professor/editar/{{ professor.getId() }}" class="btn btn-primary">Editar</a>
                </td>
                <td>
                    <button data-id="{{ professor.getId() }}" class="excluir btn btn-danger">Excluir</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block scripts %}
<script src="./app/professor/listar.js"></script>
{% endblock %}