{% extends "layout.twig" %}

{% block content %}
<h2>Editar aluno:</h2>

			<form id="form-js">

				<input type="hidden" name="id" value="{{ id }}" id="id" />

				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<div class="form-group">
							<label for="nome" class ="control-label">Nome completo</label>
							<input type="text" class="form-control " id="nome" placeholder="Nome" name="nome" value="{{ values.nome }}">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label for="telefone" class ="control-label">Telefone</label>
							<input type="text" class="form-control" id="telefone" placeholder="Telefone" name="telefone" value="{{ values.telefone }}">
							<span class="help-block"></span>
						</div>
					</div>
				</div>

				<br>
				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<div class="form-group">
							<label for="cgu" class ="control-label">CGU</label>
							<input type="number" class="form-control" id="cgu" placeholder="CGU" name="cgu" value="{{ values.cgu }}">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label for="sexo" class ="control-label">Sexo</label>
							<div class="checkbox">
		                        <label for="">
		                            <input type="radio" name="sexo" value="1" id="sexom" {{ values.sexo == 1 ? 'checked' : '' }}> <strong>M</strong>
		                        </label>
		                        <label>
		                            <input type="radio" name="sexo" value="0" id="sexof" {{ values.sexo == 0 ? 'checked' : '' }}> <strong>F</strong>
		                        </label>
		                    </div>
						</div>
					</div>
				</div>

				<br>
				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<div class="form-group">
							<label for="matricula" class ="control-label">Número de matrícula</label>
							<input type="number" class="form-control " id="matricula" placeholder="Nº matricula" name="matricula" value="{{ values.matricula }}">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label for="email" class ="control-label">E-mail</label>
							<input type="email" class="form-control" id="email"placeholder="Email" name="email" value="{{ values.email }}">
							<span class="help-block"></span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-5 col-md-offset-1" >

					</div>

					<div class="col-md-3 col-md-offset-2">
						<button type="submit" class="btn btn-primary btn-block">Salvar</button>
					</div>

				</div>
				
			</form>


{% endblock %}
{% block scripts %}
<script src="./app/aluno/formulario.js"></script>
{% endblock %}
