{% extends "layout.twig" %}
{% block content %}
  <div class="row">
	  <div class="col-sm-6 col-xs-12">
		  <h3>{{ titulo }}</h3>
	  </div>
	  <div class="col-sm-6 col-xs-12">
		  <a href="aluno/cadastrar" class="btn btn-success btn-cadastrar"><span class="glyphicon glyphicon-plus"></span> Cadastrar Aluno</a>
	  </div>
  </div>
  <div class="row">
	  <div class="col-xs-12">
		  <table class="table table-striped">
			  <thead>
				  <tr>
					  <th width="100px">Matricula</th>
					  <th>Aluno</th>
					  <th>Email</th>
					  <th>Telefone</th>
				  </tr>
			  </thead>
			  <tbody class="lista-aluno-js">
				  {% for aluno in alunos %}
					<tr id="aluno-{{ aluno.getId() }}">
						<td>{{ aluno.getMatricula() }}</td>
						<td>{{ aluno.getPessoa().getNome() }}</td>
						<td>{{ aluno.getPessoa().getEmail() }}</td>
						<td>{{ aluno.getPessoa().getTelefone()|fone_format }}
							<div class="pull-right">
								<a href="aluno/editar/{{ aluno.getId() }}/" class="btn btn-primary btn-xs" >
									<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
									<span class="hidden-xs">Editar</span>
								</a>
								<button type="button" class="btn btn-danger btn-xs excluir-aluno-js" data-id="{{ aluno.getId() }}">
									<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
									<span class="hidden-xs">Excluir</span>
								</button>
							</div>
						</td>
					</tr>
				  {% endfor %}
			  </tbody>
		  </table>
	  </div>
  </div>

{% endblock %}
{% block scripts %}
  <script src="./app/aluno/listar.js"></script>
{% endblock %}
