{% extends "layout.twig" %}
{% block content %}
    <h3>{{ titulo }}</h3>
	<a href="/aluno/cadastrar" class="btn btn-success">Cadastrar Novo</a>
	      <table class="table">
        <thead>
            <tr>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Telefone</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
        </thead>
        <tbody id="lista-js">
            {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.getPessoa().getNome() }}</td>
                <td>{{ aluno.getPessoa().getEmail() }}</td>
                <td>{{ aluno.getPessoa().getTelefone() }}</td>
                <td>
                    <a href="/aluno/editar/{{ aluno.getId() }}" class="btn btn-primary">Editar</a>
                </td>
                <td>
                    <button data-id="{{ aluno.getId() }}" class="excluir btn btn-danger">Excluir</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block scripts %}
  <script src="./app/aluno/listar.js"></script>
{% endblock %}
