{% extends 'layout.twig' %}
{% block content %}
    <h3>{{ titulo }}</h3>
    <form id="form-js">
        {% if id is defined %}
        <input type="hidden" name="id" value="{{ id }}" id="id" />
        {% endif %}
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="nome">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="titulo" value="{{ values.titulo }}">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="email">Aluno</label>
                    <select class="form-control" id="aluno">
                      {% for aluno in values.aluno %}
      								    <option value="{{ aluno.getId() }}">{{ aluno.getPessoa().getNome() }}</option>
                      {% endfor %}
      							</select>
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
					<select class="form-control" id="semestre">
						<option value="1" {{ values.semestre == 1 ? 'selected' : '' }}>Primeiro</option>
						<option value="2" {{ values.semestre == 2 ? 'selected' : '' }}>Segundo</option>
					</select>
                </div>
            </div>

        </div>
        <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
    </form>
{% endblock %}
{% block scripts %}
<script src="./app/shared/maskedinputplugin.js"></script>
<script src="./app/tcc/formulario.js"></script>
{% endblock %}
