{% extends 'layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h3>{{ titulo }}</h3>
		</div>		
		<div class="col-sm-6 col-xs-12">
			<a href="./tcc/cadastrar" class="btn btn-success btn-tcc-cadastrar"><span class="glyphicon glyphicon-plus"></span> Cadastrar tcc</a>
		</div>
	</div>
	
	<table class="table">
	</div>
        <thead>
            <tr>
              <th>Título</th>
              <th>Aluno</th>
              <th>Semestre</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
        </thead>
        <tbody id="lista-js">
            {% for tcc in tccs %}
            <tr>
                <td>{{ tcc.getTitulo() }}</td>
                <td>{{ tcc.getAluno() }}</td>
                <td>{{ tcc.getSemestre() }}</td>
                <td>
                    <a href="/tcc/editar/{{ tcc.getId() }}" class="btn btn-primary">Editar</a>
                </td>
                <td>
                    <button data-id="{{ tcc.getId() }}" class="excluir btn btn-danger">Excluir</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block scripts %}
<script src="./app/tcc/listar.js"></script>
{% endblock %}