{% extends 'layout.twig' %}
{% block content %}
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h3>{{ titulo }}</h3>
		</div>
		<div class="col-sm-6 col-xs-12">
			<a href="./tcc/cadastrar" class="btn btn-success btn-cadastrar"><span class="glyphicon glyphicon-plus"></span> Cadastrar tcc</a>
		</div>
	</div>

	<table class="table">
	</div>
        <thead>
            <tr>
              <th>Título</th>
              <th>Aluno</th>
              <th>Semestre</th>
            </tr>
        </thead>
        <tbody id="lista-js">
            {% for tcc in tccs %}
            <tr>
                <td>{{ tcc.getTitulo() }}</td>
                <td>{{ tcc.getAluno() }}</td>
                <td>{{ tcc.getSemestre() }}</td>
                <td>
					<div class="pull-right">
						<a href="/tcc/editar/{{ tcc.getId() }}" class="btn btn-primary">
							<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
							<span class="hidden-xs">Editar</span>
						</a>

						<button data-id="{{ tcc.getId() }}" class="excluir btn btn-danger">
							<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
							<span class="hidden-xs">Excluir</span>
						</button>
					 </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block scripts %}
<script src="./app/tcc/listar.js"></script>
{% endblock %}