{% extends "layout.twig" %}

{% block styles %}
{% endblock %}

{% block content %}
  <div class="row">
	  <div class="col-sm-12 col-xs-12">
		  <h3>{{ titulo }} <small>{{ subtitulo }}</small></h3>
	  </div>
  </div>
  <form id="form-js" class="form-default" method="post" action="./enviaretapa/" enctype="multipart/form-data">
	  {% if etapa is defined %}
		<input type="hidden" name="etapa" value="{{ etapa }}" id="etapa-id" />
	  {% endif %}
	  <div class="row">
		  <div class="col-xs-4 col-xs-offset-4">
			  <table class="table table-bordered">
				  <thead>
					  <tr><th colspan="2" class="text-center">Datas para Envio</th></tr>
				  </thead>
				  <tbody>
					  <tr>
						  <th class="text-right">Inicio:</th>
						  <td>{{ data_inicio }}</td>
					  </tr>
					  <tr>
						  <th class="text-right">Fim:</th>
						  <td>{{ data_fim }}</td>
					  </tr>
				  </tbody>
			  </table>
		  </div>
	  </div>
	  <div class="row">
		  <div class="col-xs-12 col-sm-6">
			  <div class="form-group">
				  <label for="arquivo">Enviar Arquivo</label>
				  <input type="file" name="arquivo" id="arquivo">
				  <p class="help-block"></p>
			  </div>
		  </div>
		  <div class="col-xs-12 col-sm-6">
			  <div class="form-group">
				  <label for="nome">Nome Arquivo</label>
				  <input type="text" name="nome" id="nome" class="form-control">
				  <p class="help-block"></p>
			  </div>
		  </div>
	  </div>
	  <div class="row">
		  <div class="col-xs-12">
			  <a href="./enviaretapa/listar/" class="btn btn-default"><i class="fa fa-angle-left" aria-hidden="true"></i> Voltar</a>
			  <button type="submit" class="btn btn-primary"><i class="fa fa-save" aria-hidden="true"></i> Salvar</button>
		  </div>
	  </div>

  </form>

{% endblock %}

{% block scripts %}
{% endblock %}
